*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.select{
    font-size: 25px;
}

#main-head{
    font-size: 100px;
}

body{
    background-color: palegoldenrod;
}

h1{
    color: palevioletred;
    font-size: 50px;
    font-weight: 1000;
}

p,li{
   font-size: 18px; 
   font-style: italic;
   margin-bottom: 20px;
   margin-left: 100px;
   margin-right: 100px;
   border: 2px solid black;
   padding: 10px;
   background-color: whitesmoke;
}

img{
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    border: 5px solid black;
}

.centered{
    text-align: center;
}

h3{
    font-size: 25px;
}

